.App {
  background: #6A9113;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #142517, #6A9113);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #142517, #6A9113); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portrait {
  height: 10em;
  border: 2px solid white;
  border-radius: 50%;
}

.banner {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner h1 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.banner hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner p {
  color: white;
  font-size: 1em;
  padding: 0.5em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin:auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 0.2em;
  word-wrap: normal;
}
